* {
    box-sizing: border-box;
}
  
body {
  font-family: 'Helvetica', 'sans-serif'; 
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.nav_foot {
  padding: 10px 0;
  color: white;
  background-color: rgb(18, 62, 85);
}

.nav_foot ul {
  list-style-type: none;
}

.nav_foot ul li {
  display: inline-block;
}

.icon {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav ul li:hover  {
  font-weight: 300;
  text-decoration: underline; 
  cursor: pointer;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.active  {
  font-weight: 300;
  text-decoration: underline; 
}

.nav_foot ul li:nth-child(n+2) {
  float: right;
  padding-right: 40px;
}

.nav_foot .footer_data {
  display: none;
}

.tech{
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

#me {
  text-align: center;
}

#me img {
  max-width: 30%;
}

h1 {
  font-size: 18px;
}

hr {
  border-color: rgba(255, 255, 255, .2);
}

main {
  padding-top: 12px;
  background-color: rgb(9, 31, 43);
}

.container {
  display: inline-block;
  min-height: 95vh;
  padding: 10vh 10px 0 10px;
  color: white;
  width: 100%;
}

img {
  max-width: 40%;
}

.word_cloud {
  line-height: 2;
}

.project {
  text-align: center;
  margin: 10px 0;
}

.portfolio h3 {
  text-align: center;
}

.project img:hover {
  animation: hoverEffect 0.5s forwards;
}

@keyframes hoverEffect {
  from {filter: drop-shadow(0px 0px 0px green);}
  to {filter: drop-shadow(8px 8px 10px green);}
}

.portfolio p:nth-child(2) {
  text-align: center;
  margin-top: 10px;
}

.cloud {
  margin-top: 8vh;
  text-align: center;
}

.contact h2 {
  text-align: center;
}

.contact p {
  margin-top: 20vh;
  text-align: center;
}

.copyright {
  font-size: 14px;
}

@media screen and (min-width: 720px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 22px;
  }

  nav {
      right: auto;
      bottom: 0;
  }
  
  .nav_foot ul li {
    display: block;
    margin-top: 20px;
  }

  .nav_foot ul li:nth-child(n+2) {
    float: none;
  }

  .nav_foot .footer_data {
    display: block;
   
  }

  .nav_foot ul li:nth-child(5){
    position: absolute;
    bottom: 80px;
  }

  .nav_foot ul li:nth-child(n+6){
    position: absolute;
    display: inline-block;
    bottom: 40px;
  }

  .nav_foot ul li:nth-child(6){
    margin-left: -20px;
  }

  .nav_foot ul li:nth-child(7){
    padding-left: 20px;
  }

  .nav_foot ul li:nth-child(8){
    padding-left: 60px;
  }

  main {
      padding-top: 0;
      padding-left: 136px;
  }
  
  .container {
      min-height: 100vh;
      padding-top: 20px;
      margin-left: 20px;
      margin-right: 10px;
      width: 95%;
  }

  footer{
      display: none;
  }

  #copyright {
    left: 20px;
    text-decoration: none;
  }

  #copyright:hover {
    font-weight: unset;
    cursor: auto;
  }
}

@media screen and (max-width: 330px) {
  li.hidden.nav_portfolio, li.hidden.nav_bio, li.hidden.nav_contact {
    display: none;
  }

  li.menu.nav_portfolio, li.menu.nav_bio, li.menu.nav_contact {
    position: absolute;
    text-align: left;
    right: 40px;
    width: 120px;
    background: rgb(9, 31, 43);
    padding: 10px;
    border-right: 2px solid rgb(113, 195, 237);
    border-left: 2px solid rgb(113, 195, 237);
  }

  li.menu.nav_bio {
    top: 50px;
    border-top: 2px solid rgb(113, 195, 237);
  }

  li.menu.nav_portfolio {
    top: 80px;
  }

  li.menu.nav_contact  {
    top: 110px;
    border-bottom: 2px solid rgb(113, 195, 237);
  }

  .icon {
    float: right;
    display: block;
    margin: 15px 40px 0px 0px;
    outline: 0;
  }
}